@import url('https://fonts.googleapis.com/css?family=Lato|Raleway|Lora|Comfortaa');

body {
    background-color: #f6f5f3 !important;
    font-family: "Comfortaa" !important;
    font-weight: 300;
    font-size: 16px;
    color: #000000 !important;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Comfortaa";
    font-weight: 300;
    color: #333;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
    font-weight: 700;
}

.centered {
    text-align: center;
}

a {
    color: #000000 !important;
    font-family: "Comfortaa";
}

a:hover, a:focus {
    color: #f33 !important;
    text-decoration: none;
    outline: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-inverse {
    background: #ffffff !important;
    border-color: #c9cecf !important;
}

.navbar-inverse .navbar-nav > .active > a {
    background: #ffffff !important;
    border-color: #f33;
}
.navbar .nav >.open > a {
    background: #ffffff !important;
    border-color: #f33;
}

.navbar .nav >li >a {
    color: #000000 !important;
    font-family: "Comfortaa";
    border-bottom: 3px solid transparent;
}
.navbar .nav a:hover, a:focus {
    color: #f33 !important;
    text-decoration: none;
    outline: 0;
}
.navbar-inverse .navbar-brand {
    color: #000000;
    font-size: 22px;
    font-family: "Comfortaa";
    letter-spacing: 1px;
}
.navbar-inverse .navbar-brand b{
    color: #000000;
    font-weight: bolder;
    font-family: "Comfortaa";
    font-size: 22px;
    letter-spacing: 1px;
}

.navbar-inverse .navbar-brand a{
    color: #000000;
    font-size: 22px;
    letter-spacing: 1px;
}


#headerwrap {
    margin-top: -100px;
    padding-top: -4px;
    text-align: center;
    background-attachment: relative;
    background-position: center top;
    min-height: 500px;
    width: 100%;
    
    background-size: 100%;
        
    -webkit-background-size cover;
    -moz-background-size cover;
    -o-background-size cover;
    background-size cover;
}

#headerwrap h1 {
    margin-top: 125px;
    color: #9a9a9a;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 3px;
}

#headerwrap h2 {
    color: #f2f2f2;
}
.footer {
    font-family: "Comfortaa";
    border: 1px solid #c9cecf;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 4px;
    background: #ffffff !important;
    min-width: 840px;
    max-width: 1440px;
    margin: 0 auto;
}
.albumName{
    text-indent: 20px;
    font-size: 20px;
}
.container{
    background-color: #ffffff !important;
    font-family: "Comfortaa";
}
.page_root{
    min-width: 840px;
    max-width: 1440px;
    margin: 0 auto;
    background: #fff;
    display: block;
    padding-bottom: 36px;
}
.track{
    margin-bottom: -2px;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
    cursor: pointer;
    content: " ";
    top: 3px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid transparent;
    box-sizing: border-box;
}
.track:hover{
    border-color: #ffdb4d;
}
.track_start{
    overflow: hidden;
    width: 40px;
    min-height: 20px;
    margin-left: 7px;
    height: 50px;
    flex: 0 0 60px;
    padding-top: 5px;
}

.track__cover {
    display: block;
}
.track_bub{
    position: absolute;
    width: 28px;
    height: 28px;
    top: 15px;
    left: 14px;
    border-radius: 28px;
    background-color: #fc0;
    display: none;
}
.track_play_hover{
    display: none;
    position: absolute;
    top: -1px;
    left: 3px;
    width: 25px;
    height: 25px;
    background: rgba(0, 0, 0, 0);
}
.btn_play{
    font-family: "Comfortaa";
    cursor: pointer;
    background-clip: padding-box!important;
    border-radius: 3.1px;
    -webkit-user-select: none;
    user-select: none;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
    color: #000!important;
    white-space: nowrap;
    outline: 0;
    transition: background .15s ease-out;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 0;
    box-shadow: none;
    border-width: 0;
    position: absolute;
    background: transparent;
    border-color: #ffdb4d;
    top: 15px;
    left: 11px;
}
.btn_pause{
    font-family: "Comfortaa";
    cursor: pointer;
    background-clip: padding-box!important;
    border-radius: 3.1px;
    -webkit-user-select: none;
    user-select: none;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
    color: #000!important;
    white-space: nowrap;
    outline: 0;
    transition: background .15s ease-out;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 0;
    box-shadow: none;
    border-width: 0;
    position: absolute;
    background: transparent;
    border-color: #ffdb4d;
    top: 15px;
    left: 10px;
    display: none;
}
.track:hover .track_play_hover {
     display:block;
 }
.track:hover .track_bub {
    display:block;
}

.track_info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    display: -ms-flexbox;
    white-space: nowrap;
    overflow: hidden;
    width: 50%;
    min-width: 0;
    flex: 1 1 auto;
}
.track_info_secondery{
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-flex: 1;
    flex-grow: 1;
    min-width: 0;
    color: #777;
    line-height: 21px;
}
.track_name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.track_meta{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0 0 5px;
    padding-left: 0;
}
.track_end{
    flex: 0 0 auto;
    white-space: nowrap;
    padding: 0 10px 0 0;
    text-align: right;
}
.track_dest{
    color: #777;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    display: inline-block;
}
.track_end_hover{
    display: none;
    white-space: nowrap;
    text-align: right;
    height: 0;
}
.track_end_hover a{
   margin-right: 10px;
}
.track:hover .track_end_hover{
    display: inline-block;
}
.track:hover .track_dest{
    display: none;
}
.header1{
    padding: 0 30px;
}
.playPic{
    display: inline-block;
    margin-left: 30px;
}
.jp_container_1{
    position: relative;
    height: 100%;
    min-height: 60px;
    background: rgba(255,255,255,0.95);
}
.jp-progress{
    position: absolute;
    left: 0 !important;
    width: 100% !important;
    top: 1px !important;
    bottom: 60px;
    height: 15px !important;
    cursor: default;
    background-color: #fc0 !important;
}
.progress_bg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #ebebeb;
}
.jp-time-holder{
    z-index: 40;
}
.jp-current-time{
    position: absolute;
    top: -52px !important;
    left: -95px;
    text-align: center;
    color: #000;
    font-size: 11px;
    margin-left: 10px;
    float: left;
    display: inline-block;
}
.jp-duration{
    position: absolute;
    top: -52px;
    left: 1295px;
    text-align: center;
    color: #000;
    font-size: 11px;
    margin-left: 10px;
    float: left;
    display: inline-block;
}
.jp-volume-controls{
    left: 1336px !important;
}
.jp-interface{
   height: 66px !important;
}
.track_info_player{
    position: absolute;
    top: 40px;
    left: 180px;
    width: 190px;
    height: 190px;
    color: black;
    font-family: "Comfortaa";
}
.track_name_player{
    position: absolute;
    top: -25px;
    left: -26px;
    display: inline-block;
    font-size: 14px;
}
.track_meta_player{
    position: absolute;
    top: -2px;
    left: -26px;
    display: inline-block;
    font-size: 14px;
}
.nav-tabs{
    margin-top: 10px;
    border-bottom: 1px solid #e5e5e5 !important;
}
.nav-tabs > .active > a {
    background: #ffffff !important;
    border-color: white !important;
    border-bottom: 3px solid #f33 !important;
}
.nav-tabs >.open > a {
    background: #ffffff !important;
}

.nav-tabs >li >a {
    color: #000000 !important;
    font-family: "Comfortaa";
    border-bottom: 3px solid #f33;
}
.nav-tabs  a:hover, a:focus {
    color: #f33 !important;
    /*border-bottom: 3px solid #f33 !important;*/
    text-decoration: none;
    outline: 0;
}